body {
    background-color: #e6e6e6;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
    background-color: #7b00ff;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

nav button {
    background-color: transparent;
    border: none;
    color: white;
}

nav p {
    margin-top: 15.5px;
}

.div1 {
    flex: 1;
}

.div2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1 {
    background-color: white;
    padding: 20px 50px;
}